$layout-header-height: 80px;
$layout-z-index: 70;
$main-page-left-padding: 18vw;
$main-page-right-padding: 18vw;

$color-blue-main: #348fc7;
$color-blue-border: #97C6E3;

$color-orange-main: #dfd087;
$color-orange-border: #f8e896;


       
/** SCSS DARK THEME PRIMARY COLORS */ 
$primary-100:  #bea68c;
$primary-200:  #c5b098;
$primary-300:  #cdb9a5;
$primary-400:  #d4c3b1;
$primary-500:  #dbcdbe;
$primary-600:  #e2d7cb;  

/** SCSS DARK THEME SURFACE COLORS */
$surface-100:  #121212;
$surface-200:  #282828;
$surface-300:  #3f3f3f;
$surface-400:  #575757;
$surface-500:  #717171;
$surface-600:  #8b8b8b;  

/** SCSS DARK THEME MIXED SURFACE COLORS */ 
$surface-mixed-100:  #403a33;
$surface-mixed-200:  #534d47;
$surface-mixed-300:  #66615b;
$surface-mixed-400:  #7b7671;
$surface-mixed-500:  #8f8b87;
$surface-mixed-600:  #a5a19e;        